.admin-container {
    display: flex;
    flex-grow: 1;
    color: black;
    justify-content: center;
    

    .admin-product {
        max-width: 1800px;
        flex-grow: 1;
        place-content: center;
        overflow-x: auto;

        .section-title {
            font-size: 2rem;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            padding: 1rem;
            margin-top: 1rem;
            margin-bottom: 3rem;
            color: inherit;

        }

        .admin-btn {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center;
            padding: 1rem;

            .admin-text-registro {
                font-size: 1em;
                display: block;
                text-transform: uppercase;
                color: grey;
                font-weight: 400;
            }

            .btn-añadir {
                font-size: 1em;
                line-height: 1;
                text-align: center;
                height: 40px;
                width: 100%;
                border: 1px solid #e1e1e1;
                border-radius: 3px;
                text-transform: capitalize;
                font-weight: 600;
                cursor: pointer;
                background-color: #222;
                color: white;
                transition: 0.4s all;
                max-width: 180px;
                align-self: center;

                &:hover {
                    background-color: #BB272D;
                }
            }

        }

        .section-table {

            overflow-x: auto;
            margin-bottom: 3rem;

            .admin-table {
                border-collapse: collapse;
                font-family: 'Roboto', sans-serif;

                th {
                    padding: .75rem .5rem;
                    background-color: #222;
                    color: white;
                }

                td,
                th {
                    border: 2px solid #d3d1d1;
                }

                tbody {

                    .admin-image {

                        img {
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                            padding: 0.3rem;
                        }

                    }

                    .admin-name {
                        font-size: 1.25rem;
                        text-align: center;
                        font-weight: 400;
                        padding: 0.75rem;
                    }

                    .admin-description {
                        font-style: italic;
                        color: #212121;
                        text-align: left;
                        padding: 1rem;
                        text-transform: lowercase;

                        &::first-letter {
                            text-transform: initial;
                        }
                    }

                    .admin-precio {
                        font-size: 1.1rem;
                        color: red;
                        text-align: center;
                        width: 100px;
                        font-weight: 600;

                    }

                    .admin-acciones {
                        text-align: center;

                        .btn-accion {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0.75rem;

                            >.fa-pen-to-square,
                            .fa-trash-can {
                                font-size: 1.5rem;
                                cursor: pointer;
                            }

                        }
                    }
                }
            }

        }


    }

}